@model ProductVM
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1>Create</h1>
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Choose images</label>
            <input class="form-control"  id="formFile" asp-for="Photos">
            <span class="text-danger" asp-validation-for="Photos">@ViewBag.error</span>
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add name</label>
            <input class="form-control"  id="formFile" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name">@ViewBag.error</span>
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add description</label>
            <textarea class="form-control"  id="formFile" asp-for="Description" rows="6"></textarea>
            <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add price</label>
            <input class="form-control" type="number" step =".01" id="formFile" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price">@ViewBag.error</span>
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add category</label>
            <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.categories"></select>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button asp-action="Index" class="btn btn-dark">Cancel</button>
    </form>
    <div class="back">
        <a class="btn btn-primary btn-rounded btn-w my-5" asp-action="Index">
            Go to list
        </a>
    </div>
</div>
